.IconButton {
  margin: 16px;
  padding: 10px;
  border: none;
  border-radius: 16px;
  color: white;
  font: inherit;
  background-color: purple;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
